<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Flights</h1>
    <center>
    <table class="styled-table">
        <thead>
            <th><input type="search" placeholder="Search Flight NO" ng-model="search.flightNO" /></th>
            <th><input type="search" placeholder="Search Date" ng-model="search.date" /></th>
            </tr>
            <tr>
                <th>Flight No</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="flight in r_ctrl| filter:search">
                <td>{{flight.flightNO}}</td>
                <td>{{flight.date}}</td>
            </tr>
        </tbody>
    </table></center>
</body>

</html>